<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/">Task Management</a>
    by <a href="http://www.cm-publishing.co.jp/">Cross Media Publishing</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Task Managementについて",   about_path %></li>
      <li><%= link_to "お問合せ", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">新着情報</a></li>
    </ul>
  </nav>
</footer>